body{
    background-color: yellow;
}
h1{
    text-align: center
}
.mainbox{
    position: relative;
    left: 30%;

}
ul{
    list-style:decimal;
    font-size: 20px;
    font-weight: bold;
}

.text1,.text2,.text3{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(61, 95, 122);
    display: inline-block;
    animation-name: page1;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.text4,.text5,.text6{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: gray;
    display: inline-block;
    animation-name: page1;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.text7,.text8,.text9{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: dodgerblue;
    display: inline-block;
    animation-name: second;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:reverse;
}
.text10{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(10, 55, 100);
    display: inline-block;
    animation-name: three;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
.text11{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(92, 55, 1);
    display: inline-block;
    animation-name: four;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
.text12{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(4, 107, 0);
    display: inline-block;
    animation-name: second;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:reverse;
}
a{
    position: relative;
    left: 35%;
    font-size: 32px;
    font-weight: bold;
}
@keyframes  page1 {
    0%{
       transform: skew(30deg);
    }
    100%{
       transform: skew(-30deg);
    }
    
}
@keyframes  second {
    0%{
       transform:rotate(360deg)
    }

}
@keyframes  three {
    0%{
        transform: rotateX(55deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes  four {
    0%{
        transform: rotateY(55deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}